<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moja Strona</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: #333;
            color: white;
            text-align: right;
            padding: 10px;
        }
        .user-button {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="header">
    <a href="/users" class="user-button"><button class="user-button">Users</button></a>
</div>

<!-- Tu umieść treść swojej strony -->

</body>
</html>